hr
{
    width: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: dotted 5px #cccccc;
}

.joinClassModal__modal-body
{
    display: block;
}

.joinClassModal__modal-body h4
{
    text-align: center;
}

.joinClassModal__modal-body .joinClassModal__value
{
    float: right;
}

.joinClassModal__modal-body-course-info
{
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 5px;
    padding-top: 10px;
}

.joinClassModal__modal-body-select-group
{
    display: flex;
    justify-content: center;
}

.joinClassModal__modal-body-select-group select
{
    width: 80%;
}

.classModal
{
    display: flex;
    justify-content: center;
}

.classModal .modal-content
{
    width: 100%;
}
.joinClassCloseModal
{
    font-size: 25px;
    color: #6673fd;
    transition: 0.2s;
}
.joinClassCloseModal:hover
{
    color: #fd7b7b;
}

.group_num__drop-down
{
    max-width: 60% !important;
    border: solid #cccccc 1px;
}

#joinClassModalFooter
{
    justify-content: center;
}

#JoinClassButton
{
    width: 80%;
    text-align: center;
    background-color: #6673fd;
    transition: 0.2s;
}

#JoinClassButton:hover
{
    background-color: #fd7b7b;
}
