#Assignments__create-ass {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #6673fd;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
}

#Assignments__create-ass:hover {
  background-color: #f19b84;
  box-shadow: none;
}

#Assignments__file-upload {
  width: 100%;
  background-color: #6673fd;
  padding: 2%;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
  border-radius: 5px;
}

#Assignments__file-upload:hover {
  box-shadow: none;
}

.Assignments__choose-group {
  background-color: #f19b84;
  border-radius: 5px;
  width: 20%;
  color: white;
  border: none;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
}

.Assignments__submit-date-time {
  justify-content: center;
}

.clear-grp {
  width: 100%;
  padding: 2%;
}

.Assignments__choose-group:hover {
  box-shadow: none;
}

.Assignments__submit {
  padding: 10px;
  background-color: #6673fd;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
}

.Assignments__submit:hover {
  box-shadow: none;
  background-color: #6673fd;
}

#AssignmentList__header {
  text-align: center;
}

.AssignmentList__object {
  text-align: center;
  margin-left: 0;
  border-bottom: solid 1px #cccc;
}

.AssignmentList__object div {
  padding: 1%;
}

.Assignments__view-assignment {
  width: 100%;
  background-color: #f19b84;
  padding: 2%;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
  border-radius: 5px;
  border: none;
}

.Assignments__view-assignment:hover {
  box-shadow: none;
}

.Assignments__view-assignment a {
  text-decoration: none;
  color: white;
}

.Assignments__submissions {
  width: 100%;
  background-color: #6673fd;
  padding: 2%;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
  border-radius: 5px;
  border: none;
}

.Assignments__submissions:hover {
  box-shadow: none;
}

.Assignments__submissions a {
  text-decoration: none;
  color: white;
}

.Assignments__loading {
  text-align: center;
}

.Assignments__loading .tita-load {
  height: 150px;
  width: 150px;
  margin-bottom: 50px;
}

.Assignment_Solved {
  margin-left: 7.5%;
}

.Assignment_Solved__header {
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
}

.Assignment_Solved__header div {
  text-align: center;
}

.Assignment_Solved__object {
  text-align: center;
  justify-content: center;
  border-bottom: solid grey;
}

.Assignment_Solved__object div {
  padding: 1%;
}

.Assignment_Solved__on-time {
  color: #9ede73;
  font-size: large;
}

.Assignment_Solved__late {
  color: #fb3640;
  font-size: large;
}

@media only screen and (max-width: 768px) {
  /* List Start */
  #AssignmentList__header {
    display: none;
  }

  .AssignmentList__list {
    height: 60vh;
    overflow-y: scroll;
    margin-bottom: 4.5rem;
  }

  .AssignmentList__list .AssignmentList__object {
    border: solid 1px #ccc;
    margin: none !important;
    border-radius: 5px;
    padding: 5px;
  }

  .AssignmentList__list .AssignmentList__object div:first-child {
    font-size: 20px;
    font-weight: 500;
  }

  .AssignmentList__list .AssignmentList__object div:nth-child(2),
  .AssignmentList__list .AssignmentList__object div:nth-child(3) {
    width: 50%;
  }

  .AssignmentList__list .AssignmentList__object div:nth-child(4),
  .AssignmentList__list .AssignmentList__object div:nth-child(5) {
    width: 50%;
    font-size: 15px;
  }

  .AssignmentList__list .AssignmentList__object div:nth-child(4) button,
  .AssignmentList__list .AssignmentList__object div:nth-child(5) button {
    padding: 5px;
  }
  /* List End */

  /* Solved Start */
  .Assignment_Solved {
    width: 95% !important;
    padding: 0;
    margin: 0;
  }

  .Assignment_Solved .Assignment_Solved__header {
    display: none;
  }

  .Assignment_Solved .Assignment_Solved__object {
    border-bottom: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  .Assignment_Solved .Assignment_Solved__object div:nth-child(1),
  .Assignment_Solved .Assignment_Solved__object div:nth-child(2) {
    width: 50%;
  }

  .Assignment_Solved .Assignment_Solved__object div:nth-child(3) {
    font-weight: 500;
    font-size: 20px;
  }

  .Assignment_Solved .Assignment_Solved__object div:nth-child(3) i {
    font-size: 20px;
  }

  /* Solved End */
}
