.inner_navbar {
  position: fixed;
  background-color: #f5f5ff;
  margin-bottom: auto;
  transition: width 300ms ease;
}

.inner_navbar:hover .inner_link-text {
  display: block;
  color: #fd7b7b;
  transition: opacity 300ms;
}

.inner_nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #cccccc;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.inner_nav-link:hover {
  filter: grayscale(0%);
}

.inner_link-text {
  display: none;
  margin-left: 1rem;
}

.inner_nav-link i {
  min-width: 2rem;
}

.fa {
  color: #fd7b7b;
  text-align: center;
}

.logo-text {
  display: none;
  margin-left: 1rem;
}

.inner_navbar:hover .logo-text2 {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  transition: 600ms;
  padding-bottom: 12vh;
  margin-top: 10%;
}

.logo-image {
  width: 7vh;
  height: 7vh;
  align-items: center;
  margin-top: 9px;
}

.logo-text2 {
  display: none;
  margin-bottom: 20vh;
  margin-left: 1rem;
}

.logo2 {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  transition: 600ms;
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.logo-image2 {
  width: 7vh;
  height: 7vh;
  align-items: center;
  margin-bottom: 20vh;
}

.classModal input {
  font-size: 15px;
}

.createClass__model-footer {
  text-align: center;
  padding-bottom: 10px;
}

.createClass__model-footer button {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .inner_navbar {
    bottom: 0;
    height: 4rem;
    width: 100vw;
    padding-bottom: 2px  !important;
    align-items: center;
  }

  .inner_navbar-nav {
    flex-direction: row !important;
    width: 100%;
    justify-content: space-around;
    padding-left: 0 !important;
  }

  .inner_nav-link{
    height: 3rem;
  }
  
  .first {
    display: none;
  }

  .inner_navbar-brand {
    display: none;
  }

  .inner_link-text {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .inner_navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    padding-bottom: 35vh;
  }

  .inner_navbar:hover {
    width: 11rem;
  }

  .inner_navbar:hover .logo-text2 {
    display: block;
  }
}
