#Resources__create-res {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #6673fd;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
}

#Resources__create-res:hover {
  background-color: #f19b84;
  box-shadow: none;
}

#Resources__file-upload {
  width: 100%;
  background-color: #6673fd;
  padding: 2%;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
  border-radius: 5px;
}

#Resources__file-upload:hover {
  box-shadow: none;
}

.Resources__choose-group {
  background-color: #f19b84;
  border-radius: 5px;
  width: 20%;
  color: white;
  border: none;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
}

.Resources__submit-date-time {
  justify-content: center;
}

.clear-grp {
  width: 100%;
  padding: 2%;
}

.Resources__choose-group:hover {
  box-shadow: none;
}

.Resources__submit {
  padding: 10px;
  background-color: #6673fd;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
}

.Resources__submit:hover {
  box-shadow: none;
  background-color: #6673fd;
}

#ResourceList__header {
  text-align: center;
}

.ResourceList_object {
  text-align: center;
  border-bottom: solid 1px #cccc;
}

.ResourceList_object div {
  padding: 1%;
}
.Resources_Card {
  margin-bottom: 1%;
}
.Resources_CardHeader:hover {
  background-color: #6673fd;
  transition: 0.5s;
  color: whitesmoke;
}
.Resources_Description {
  padding: 1.5%;
}
.Resources_Link {
  padding: 0% 1.5%;
}

.Resources__view-resource {
  width: 20%;
  background-color: #f19b84;
  padding: 1%;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
  border-radius: 5px;
  border: none;
}

.Resources__view-resource:hover {
  box-shadow: none;
}

.Resources__view-resource a {
  text-decoration: none;
  color: white;
}

.Resources_Name {
  float: left;
}

.Resources_Date {
  float: right;
}

.Resources__loading {
  text-align: center;
}

.Resources__loading .tita-load {
  height: 150px;
  width: 150px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  #Resources__create-res {
    width: 100%;
  }

  .ResourceList_list {
    margin-bottom: 5rem;
  }

  .ResourceList_list .Resources_Link a button {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
  }
}
