.inner_navbar {
  top: 0;
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #f5f5ff;
  padding-bottom: 35vh;
  margin-bottom: auto;
  transition: width 300ms ease;
  z-index: 100;
}

.inner_navbar:hover {
  width: 11rem;
}

.inner_navbar:hover .inner_link-text {
  display: block;
  color: #fd7b7b;
  transition: opacity 300ms;
}

.inner_nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #cccccc;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.inner_nav-link:hover {
  text-decoration: none;
  filter: grayscale(0%);
}

.inner_link-text {
  display: none;
  margin-left: 1rem;
}

.inner_nav-link i {
  min-width: 2rem;
}

.fa {
  color: #fd7b7b;
}

.logo-text2 {
  display: none;
  margin-bottom: 20vh;
  margin-left: 1rem;
}

.inner_navbar:hover .logo-text2 {
  display: block;
}

.logo2 {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  transition: 600ms;
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.logo-image2 {
  width: 7vh;
  height: 7vh;
  align-items: center;
  margin-bottom: 20vh;
}

.classModal input {
  font-size: 15px;
}

.createClass__model-footer {
  text-align: center;
  padding-bottom: 10px;
}

.createClass__model-footer button {
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .inner_navbar {
    display: none;
  }
}
