#QuizList__header {
  text-align: center;
}

.QuizList_object {
  text-align: center;
  border-bottom: solid 1px #cccc;
}

.QuizList_object div {
  padding: 1%;
}

.Quizzes__view-quiz {
  width: 100%;
  background-color: #f19b84;
  padding: 2%;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
  border-radius: 5px;
  border: none;
}

.Quizzes__view-quiz:hover {
  box-shadow: none;
}

.Quizzes__view-quiz a {
  text-decoration: none;
  color: white;
}

.Quizzes__view-score {
  background-color: #6673fd;
  width: 100%;
  padding: 3%;
  text-align: center;
  color: white;
  box-shadow: 4px 4px 8px #9a9a9a;
  transition: 0.5s;
  border-radius: 5px;
  border: none;
}

.Quizzes__view-score:hover {
  box-shadow: none;
}

.QuizList__modal {
  display: flex;
  justify-content: center;
  height: 80vh;
  max-width: 100vh !important;
}

.QuizList__modal .modal-content {
  height: 100%;
  width: 100%;
}
