.heading {
  margin-left: 15vw;
  margin-bottom: 5vh;
}

.cards-row {
  margin-left: 15vw;
  display: flex;
  flex-direction: row;
  margin-right: 5vw;
  width: 100%;
}

.class-loading {
  margin-left: 12rem;
}
